/* titulo principal */
/* * {
    padding: 10px 13px 5px 15px;
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
} */

body{
    font-family: 'Allerta', sans-serif;
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    margin-bottom: 15px;
    margin-top: 70px;
}

.title-a{
    font-size: 24px;
    margin-top: 0;
}

.title-b{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0;
}

.title-c{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0;
}
.guitarra{
    color: #1F313C;
    /* overflow: hidden; */
    border: solid 1px #1F313C;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    position: relative;
}

.guitarras h2{
    color: #1F313C;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.portada{
    background-image: url("../images/background.png");
    color: white;
    padding: 20px;
}

.portada button{
    border-radius: 8px;
    border: none;
    background: #FD324E;
    color: white;
    padding: 7px;
    margin-bottom: 70px;
}

.menu{
    font-size: 24px;
    display: inline-block;
    margin-left: 70px;
    position: absolute;
    right: 0;
}

.menu li{
    display: inline-block;
    margin-left: 30px;
}

.logo-tipo {
    display: inline-block;
}

.contenerdor{
    margin: auto;
    width: 800px;
}

.right{
    float: right;
    position: absolute;
    top: -118px;
    right: 0;
}

.left{
    float: left;
    position: absolute;
    top: -10px;
}

.guitarra ol{
    padding: 0;
}

.contenerdor-guitarra-a{
    padding-left: 40px;
    margin-bottom: 65px;
}

.contenerdor-guitarra-b{
    margin-left: 370px;
}

.header{
    position: relative;
}
